/* src/components/BotonMaterial.css */
.boton-material {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

    /* Añadamos un margen para que no estén pegados */
    margin: 5px; 
}

.boton-material:hover {
    background-color: #0056b3;
}