/* src/components/HeaderButton.css */

.header-button {
  background-color: #eaf1f8;
  border-radius: 10px;
  border: 1px solid #d0dbe5;
  width: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.header-button:hover {
  background-color: #ffffff;
  border-color: #b0c4d8;
}

/* ELIMINAMOS .icon-placeholder 
  Y AÑADIMOS ESTO:
*/
.header-button-icon {
  width: 32px;  /* Tamaño fijo para el icono */
  height: 32px; /* Tamaño fijo para el icono */
  margin-bottom: 5px; /* Espacio entre el icono y el texto */
  
  /* Esto evita que la imagen se estire si no es cuadrada */
  object-fit: contain; 
}